.main {
  width: 100%;
  overflow: visible;
  padding: 6.7rem 0 18.8rem;

  .opacity-hidden {
    opacity: 0;
  }

  @media (max-width: $laptop) {
    padding-bottom: 10rem;
  }

  @media (max-width: $tablet) {
    padding-bottom: 9.9rem;
  }

  .container {
    position: relative;
  }

  &__title {
    margin: 0 0 6.5rem;

    @media (max-width: $tablet) {
      margin: 0 0 3.5rem;
    }

    @media (max-width: $tablet) {
      margin: 0 0 4rem;
    }
  }

  &__slider {
    position: relative;
    overflow: visible;
    margin: 0 0 12.1rem;

    @media (max-width: $tablet) {
      padding-top: 4.2rem;
      margin: 0 0 6rem;
    }

    @media (max-width: $tablet) {
      margin: -1rem 0 5.6rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
  }

  &__arrow {
    position: absolute;
    top: 12.6rem;
    z-index: 20;
    cursor: pointer;

    @media (max-width: $tablet) {
      top: 0;
    }

    .disabled & {
      display: none;
    }

    &--prev {
      left: -8.4rem;

      @media (max-width: $desktop) {
        left: -4rem;
      }

      @media (max-width: $tablet) {
        left: calc(50% - 4rem);
      }

    }

    &--next {
      right: -8.2rem;

      @media (max-width: $desktop) {
        right: -4rem;
      }

      @media (max-width: $tablet) {
        right: calc(50% - 4rem);
      }
    }

    @media (max-width: $tablet) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__slide {
    width: auto;
    background-color: $red;
    min-height: 100%;
    height: auto;
    border-radius: 19px;
    padding: 3.5rem 3.1rem 4.1rem 3rem;

    @media (max-width: $tablet) {
      padding: 2.1rem 1.6rem 2.1rem 1.7rem;
      border-radius: 12px;
    }

    img {
      display: block;
      border-radius: 19px;
      margin: 0 0 3rem;

      @media (max-width: $tablet) {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
      }

      @media (max-width: $tablet) {
        border-radius: 12px;
        margin: 0 0 1rem;
      }
    }

    p {
      font-size: 2.2rem;
      line-height: 1.1;
      font-family: $myriad;
      margin: 0;


    }

    p:not(:last-child) {
      margin: 0 0 3rem;
    }

    @media (max-width: $tablet) {
      p {
        font-size: 1.4rem;
      }

      p:not(:last-child) {
        margin: 0 0 1.5rem;
      }
    }
  }

  &__slide-title {
    color: $white;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.01;
    margin: 0 0 2.5rem;

    &--white {
      color: $white;
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }

    @media (max-width: $tablet) {
      font-size: 2.1rem;
      margin: 0 0 1.2rem;
    }
  }

  &__decor {
    position: absolute;
    top: -31rem;
    right: -54rem;
    z-index: 1;

    @media (max-width: $desktop) {
      right: -45rem;
    }

    @media (max-width: $laptop) {
      right: -38rem;
      top: -33rem;
    }

    @media (max-width: $tablet) {
      right: -6.4rem;
      top: -8.2rem;
      width: 21.9rem;
    }
  }

  &__subtitle {
    color: $grey;
    font-size: 2.2rem;
    line-height: 1.1;
    font-family: $myriad;
    margin: 0 0 4rem;
    width: 74%;

    @media (max-width: $tablet) {
      font-size: 1.4rem;
      line-height: 1.1;
      margin: 0 0 3.4rem;
    }
  }

  &__active-title {
    display: flex;
    justify-content: space-between;
    background-color: $green;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.01;
    color: $white;
    border-radius: 19px;
    padding: 1.4rem 3rem 1rem;
    margin: 0 0 4.8rem;
    position: relative;
    z-index: 3;


    @media (max-width: $tablet) {
      font-size: 2.1rem;
      margin: 0 0 3.1rem;
      border-radius: 8px;
      padding: 0.5rem 0.9rem;
    }
  }

  &__box-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 0 0 13.2rem;

    @media (max-width: $tablet) {
      margin: 0 0 6rem;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      gap: 1.8rem;
    }
  }

  &__box {
    position: relative;
    background-color: $darkRed;
    color: $white;
    padding: 3.5rem 3rem;
    border-radius: 19px;
    height: 26rem;

    @media (max-width: $tablet) {
      border-radius: 12px;
      height: 11rem;
      padding: 1.5rem 1.7rem;
    }

    &--green {
      background-color: $darkGreen;
    }

    &--half {
      width: calc(50% - 1.9rem);
      height: 21.5rem;

      @media (max-width: $tablet) {
        width: calc(50% - 0.7rem);
        height: 18.8rem;

        .main__box-decor {
          width: 14rem;
          right: -1rem;

          &--snowboard {
            width: 12rem;
          }

          &--soldout {
            width: 14rem;
            right: 0;
          }

          &--alsu {
            width: 14rem;
            right: 0;
          }


          &--nyusha {
            width: 18rem;
            right: -3rem;
            max-width: unset;
          }
        }
      }
    }

    &--third {
      width: calc(33.33333% - 2.5rem);

      @media (max-width: $tablet) {
        width: calc(50% - 1.9rem);
        height: 18.8rem;

        .main__box-decor {
          width: 14rem;
          right: 0;

          &--gift {
            width: 12rem;
          }

          &--fomin {
            width: 10rem;
          }
        }

      }

      @media (max-width: $tablet) {
        width: calc(50% - 0.7rem);
        height: 18.8rem;

      }
    }


  }

  &__box-title {
    margin: 0 0 2rem;

    @media (max-width: $tablet) {
      font-size: 2.1rem;
      max-width: 14rem;
      margin: 0 0 1rem;

      br {
        content: " ";

        &:after {
          content: " ";
        }
      }
    }
  }

  &__box-text {
    @media (max-width: $tablet) {
      font-size: 2.1rem;

      &--small {
        max-width: 7rem;
      }

      br {
        content: " ";

        &:after {
          content: " ";
        }
      }
    }
  }

  &__box-content {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.01;

    @media (max-width: $tablet) {
      font-size: 3rem;
    }
  }

  &__box-decor {
    position: absolute;
    right: 0;
    bottom: 0;

    &--alsu {
      right: 5.6rem;
    }

    &.desktop {
      display: block;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    &.tablet {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $laptop) {
      width: 60%;

      &--alsu {
        width: 25rem;
      }
    }

    @media (max-width: $tablet) {
      width: 14rem;

      &--alsu {
        right: 3rem;
        width: 50%;
      }
    }
  }

  &__box-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3.7rem;

    @media (max-width: $tablet) {
      gap: 1.4rem;

      &:nth-child(3) {
        width: 100%;
      }
    }
  }


}
